*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map

main/assisi-dspic-fft-log.X/
main/assisi-dspic-main.X/nbproject/Makefile-default.mk
main/assisi-dspic-main.X/nbproject/Makefile-genesis.properties
main/assisi-dspic-main.X/nbproject/Makefile-impl.mk
main/assisi-dspic-main.X/nbproject/Makefile-local-default.mk
main/assisi-dspic-main.X/nbproject/Makefile-variables.mk
main/assisi-dspic-main.X/nbproject/Package-default.bash
main/assisi-dspic-main.X/nbproject/private/
slave/assisi-dspic-aux.X/nbproject/Makefile-default.mk
slave/assisi-dspic-aux.X/nbproject/Makefile-genesis.properties
slave/assisi-dspic-aux.X/nbproject/Makefile-impl.mk
slave/assisi-dspic-aux.X/nbproject/Makefile-local-default.mk
slave/assisi-dspic-aux.X/nbproject/Makefile-variables.mk
slave/assisi-dspic-aux.X/nbproject/Package-default.bash
slave/assisi-dspic-aux.X/nbproject/private/
