/assisi-dspic-main.X/build/default/
/assisi-dspic-main.X/dist/default/
/main/assisi-dspic-main.X/build/default/
/main/assisi-dspic-main.X/dist/default/
/aux/assisi-dspic-aux.X/build/default/
/aux/assisi-dspic-aux.X/dist/default/